body {
  background-color: #6d02979e !important;
  margin: auto;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

header {
  background-color: #670289fb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 75px;
  height: 80px;
  top: 35px;
  left: 120px;
  border-radius: 35%;
}

.links {
  display: flex;
  gap: 20px;
  background-color: #778902fb;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.button {
  padding: 10px 15px;
  background-color: #263238;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #670289fb;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 3%;
  margin-left: 3%;
  gap: 20px;
  padding-block: 30px;
  margin-top: 30px;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 300px;
}

label {
  font-size: 20px;
}
.bup {
  display: inline-block;
  padding: 10px 20px;
  background-color: #263238;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.search-box {
  display: flex;
  margin: 0 auto;
}

.search-box input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  border-radius: 10px 0px 0px 10px;
}

.search-box button[type="submit"] {
  padding: 10px 20px;
  background-color: #778902fb;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}
h2 {
  text-align: center;
}

.image {
  width: 30%;
  max-width: 300px;
  border-radius: 100%;
  margin: 0 10px;
}

.rewiew-cont img {
  width: 30%;
  max-width: 300px;
  border-radius: 100%;
  margin: 0 10px;
}

.rewiew-cont {
  width: 70%;
  background-color: #778902fb;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5%;
}

.rewiew-cont2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin-top: 20px;
}
